body{
	font-family: Geneva, Tahoma, Arial;

}

ol{
	list-style-type: none;
	list-style-image: none;
}

li{
	
}

.fsqFile{
		
}

.fsqDir{
	font-style: italic;
	font-weight: bold;
	color: #B22222;
	cursor: pointer;
}

.label{
background-color: yellow;
}

.file{
position: fixed;
cursor:hand;
}